@keyframes sliding {
  0% {transform: scale(1);}
  50% {transform: scale(1.06);}
  100% {transform: scale(1);}
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes ghost {
  0% {
    opacity: 0.1;
    filter: saturate(0);
    transform: translateY(-45%);
   }
  100% {
    opacity: 1;
    filter: saturate(1);
    transform: translateY(0);
  }
}

@keyframes ghost--no-motion {
  0% {
    opacity: 0;
   }
  100% {
    opacity: 1;
  }
}

@keyframes ghost--left {
  0% {
    opacity: 0.1;
    filter: saturate(0);
    transform: translateX(-35%);
   }
  100% {
    opacity: 1;
    filter: saturate(1);
    transform: translateX(0);
  }
}

@keyframes ghost--right {
  0% {
    opacity: 0.1;
    filter: saturate(0);
    transform: translateX(35%);
   }
  100% {
    opacity: 1;
    filter: saturate(1);
    transform: translateX(0);
  }
}